<div class="NewMeal">
<h3>Add New Meal:</h3>


      Meal Name:
      <input type="text" #MealName placeholder="Chapati" >
      <br>
      Description:
      <input type="text" #MealDesc placeholder="Desc.">
      <br>
      Calories:
      <input type="number" #MealCalories placeholder="0">
      <br>
      <button (click)="addMeal(MealName.value, MealDesc.value, MealCalories.value)">Add Meal</button>
</div>

<div class="MealList">
    <h3>Meals' List</h3>
    <ul class="Meals">
      <li *ngFor="let meal of meals">

        <span>{{meal.name}}</span> {{meal.description}} {{meal.calories}}
      </li>
    </ul>
</div>
